*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    color: aliceblue;
    overflow: hidden;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    z-index: 100;
    background:transparent;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.navbar a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-left: 25px;
    transition: 0.3s;
}
.navbar a:hover{
    color: blueviolet;
}
.main{
    min-height: 100vh;
    background: url(walp.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: .3s;
}
.main.active{
    filter: blur(16px);
}
.main.remove{
    filter: blur(0px);
}

.front-page{
    position: relative;
    left: -50%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.hcontent{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hcontent h1{
    font-size: 70px;
    font-weight: 800;
}
.hcontent p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10%;
}
.startbut{
    width: 190px;
    color: white;
    font-size: 20px;
    height: 60px;
    border: 2px solid white;
    border-radius: 8px;
    size: 20px;
    background: purple;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .5s;
    cursor:pointer;
}
.startbut:hover{
    background: black;
}
.rulespage{
    position: absolute;
    top: 50%;
    /* left: 0%; */
    left: 50%;
    width: 500px;
    background:rgb(254, 254, 254);
    border-radius: 7px;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.rulespage.active{
    opacity: 1;
    pointer-events: auto;
}
.rulespage.remove{
    opacity: 0;
    pointer-events: auto;
}
.rulespage h2{
    font-size: 60px;
    color: black;
}
.rulespage .info{
    display: inline-block;
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin: 4px 0px;
}
.rulespage .bttuns{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}
.rulespage .bttuns .info{
    display: flex;
    color: beige;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 45px;
    background: purple;
    border: 2px solid purple;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}
.rulespage .bttuns .info:hover{
    background: black;
}
.container{
    display: flex;
    height: 100vh;
    width: 200%;
}
.quiz-sec{
    position:relative;
     left: -50%; 
     /* left: 0; */
    width: 100%;
    justify-content: center;
    align-items: center;
    background:rgb(22, 8, 8);
    display: flex;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
}
.quiz-sec.active{
    background: url(qpp.webp) no-repeat;
    left: 0;
    background-size: cover;
    background-position: center;
    /* backface-visibility: var(-50%); */
}
.quiz-sec .qbox{
    position: relative;
    width: 500px;
    background:rgb(53, 43, 43);
    border: 2px solid purple;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.qbox h1{
    text-align: center;
    font-size: 32px;
    background: linear-gradient(45deg,transparent,purple,transparent);
}
.qbox{
    transition: 0.6s;
}
.qbox .headerq{
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 2px solid purple;
    padding: 20px 0;
}
.headerq span{
    font-size: 18px;
}
.qbox .qtext{
    font-size: 24px;
    font-weight: 600;
    padding:10px 0;
}
 .optionlist .options{
    font-size: 16px;
    background: transparent;
    padding: 12px;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 2px;
    margin: 15px 0;
    cursor: pointer;
    transition: .6s ease;
} 
.optionlist .options:hover{
    background: grey;
}
.optionlist .options.correct{
background: black;
color: green;
border-color: green;
}
.optionlist .options.wrong{
    background: black;
color:red;
border-color: red;
}
.optionlist .options.disable{
pointer-events: none;
}
.qbox .qfooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid purple;
    margin-top: 30px;
}
.qbox .qfooter .qtotal{
    font-size: 18px;
    font-weight: 400;
}
.qbox .qfooter .nextq{
    color: white;
    width: 100px;
    height: 45px;
    border-radius: 3px;
    background: rgb(111, 104, 111);
    padding: 12px;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 2px;
    margin: 15px 0;
    cursor: pointer;
    transition: .6s ease;
    pointer-events: none;
}
.qbox .qfooter .nextq:hover{
    background:grey;
}
.qbox .qfooter .nextq.active{
    pointer-events: auto;
    background: purple;
}